{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Hero Section Container -->

  <div class="card-grid">
    {% for destination in destinations %}
      <a href="{% url 'destination_detail' destination.id %}" class="card">
        <div class="card__background"
             style="background-image: url('{% if destination.images.first %}{{ destination.images.first.image.url }}{% else %}https://via.placeholder.com/400x200?text=No+Image{% endif %}');">
        </div>
        <div class="card__content">
          <p class="card__category">{{ destination.state }}, {{ destination.district }}</p>
          <h3 class="card__heading">{{ destination.place_name }}</h3>
        </div>
      </a>
    {% empty %}
      <div class="text-white text-center">No destinations found.</div>
    {% endfor %}
  </div>

{% endblock %}
